/* colors: mostly gray, except link hover */
$lightbg: #fff;
$lightfg: #222;
$lighthover: #4682b4;
$fadefg: #aaa;
$fadehover: #4682b4;
$darkbg: #333;
$darkfg: #eee;
$darkhover: #4682b4;
$codebg: #f7f7f7;

$content_width: 45em;
$content_padding: 8em;
$smallscreen_padding: 0.5em;

$small_screen_width: $content_width + 2 * $smallscreen_padding;

@mixin small_screen {
  @media screen and (max-width: $small_screen_width) {
    @content;
  }
}

html {
    font-size: 1em;
}

body {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: $lightbg;
    color: $lightfg;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.40;
}

h1, h2, h3, h4 {
    margin: 1em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

p {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

h2 {font-size: 1.728em;}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

small, .font_small {font-size: 0.833em;}

#smallscreenwarning {
    display: none;
    @include small_screen {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9998;
        width: 100%;
        display: block;
        background-color: #b22222;
        color: #fff;
        text-align: left;
        padding: 0 0.5em;
    }
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: $darkbg;
    text-align: center;
    padding-bottom: 0.5em;
    float: right;
    a {
        display: inline-block;
        color: $darkfg;
        text-align: center;
        margin: 0.5em 1.5em 0 1.5em;
        text-decoration: none;
        img.feedicon {
            height: 1em;
            vertical-align: -0.1em;
        }
    }
    a:hover {
        color: $darkhover;
    }
    .dropdown {
        position: relative;
        display: inline;
        a.dropdown-button {
            display: inline-block;
            color: $fadefg;
            text-align: center;
            margin: 0.5em 1.5em 0 1.5em;
            text-decoration: none;
            cursor: pointer;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: $fadefg;
            color: $lightfg;
            padding: 0.5em;
            width: $content-width - 3em;
            @include small_screen {
                position: fixed;
                left: 1em;
                top: 0em;
                right: 1em;
                width: calc(100vw - 3em);
            }
            text-align: center;
            right: 0;
            top: 0;
            z-index: 1;
            a {
                display: inline-block;
                padding: 0.3ex;
                margin: 0.3ex;
                color: $lightfg;
                background-color: $lightbg;
                border-style: solid;
                border-width: 0.5px;
                border-color: $fadefg;
            }
            a:hover {
                color: $lighthover;
            }
            p .dropdown-header {
                color: $darkfg;
                text-align: center;
                margin: 0.5em 0 1em 0;
            }
        }
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
}

// spacer for the navbar, with the same autoflow behavior for narrow screens
#navbarplaceholder {
    visibility: hidden;
    width: 100%;
    text-align: center;
    padding-bottom: 0.5em;
    a {
        display: inline-block;
        text-align: center;
        margin: 0.5em 2em 0 2em;
        text-decoration: none;
        img.feedicon {
            height: 1em;
            vertical-align: -0.1em;
        }
    }
    .dropdown {
        position: relative;
        display: inline;
        .dropdown-content {
            display: none;
        }
    }
}

#mainbody {
    margin: 0;
    clear: left;
}

#content {
    padding-top: 0em;
    max-width: $content-width;
    padding-left: calc((100% - #{$content_width}) / 2);
    padding-right: calc((100% - #{$content_width}) / 2);
    @include small_screen {
        max-width: calc(100% - 1em);
        padding-left: $smallscreen_padding;
        padding-right: $smallscreen_padding;
    }
    p {
        text-align: justify;
    }
    a {
        color: $lightfg;
        text-decoration: underline;
        text-decoration-color: $fadefg;
    }
    a:hover {
        color: $lighthover;
    }
    .tags {
        overflow: hidden;
        a {
            text-decoration: none;
            color: $fadefg;
            padding: 0;
        }
        a:hover {
            color: $fadehover;
        }
    }
    #pagenav {
        .pagenav-label {
            color: $fadefg;
        }
        margin: 1em 0;
    }
    figure {
        padding: 0;
        margin: 0;
        text-align: center;
        figcaption {
            h4 {
                padding: 0;
                margin: 0em 0em 2em 0em;
                font-size: 1em;
                font-style: italic;
            }
        }
    }
    img {
        display: block;
        max-width: 100%;
        width: 0.8 * $content_width;
        @include small_screen {
            width: 100%;

        }
        padding: 0;
        margin: 0 auto;
    }
    table {
        margin: 1em;
    }
    .codeheader {
        margin-top: 1em;
        background-color: $darkbg;
        color: $darkfg;
        width: 100%;
        border-radius: 0.4em 0.4em 0 0;
        font-size: 0.833em;
        p {
            text-align: center;
            padding: 3px 8px;
            margin: 0;
            a, a:hover {
                background-color: $darkbg;
                color: $darkfg;
            }
        }
    }
    .codedownload {
        margin-top: 1em;
        background-color: $darkbg;
        color: $darkfg;
        width: 100%;
        border-radius: 0.4em;
        font-size: 0.833em;
        p {
            text-align: center;
            padding: 3px 8px;
            margin: 0;
            a, a:hover {
                background-color: $darkbg;
                color: $darkfg;
            }
        }
    }
    pre {
        margin: 0;
        padding: 3px 8px;
        font-family: 'Roboto Mono', monospace;
        overflow: auto;
        background-color: $codebg;
    }
    code {
        font-family: 'Roboto Mono', monospace;
    }
    ul.mainlist {
        list-style-type: none;
        padding-left: 0;
        text-align: left;
        p.additionalinfo {
            padding-top: 0;
            margin-top: 0;
            font-size: 0.833em;
        }
    }
    img#tamaskpapp {
        float: right;
        width: 10em;
        margin: 1em;
    }
    .date {
        color: $fadefg;
    }
    hr {
        border: none;
        height: 0.5px;
        background-color: $fadefg;
        margin-top: 1em;
        margin-bottom: 0.2em;
    }
}
