/* colors: mostly gray, except link hover */
html {
  font-size: 1em; }

body {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  line-height: 1.40;
  color: #333; }

h1, h2, h3, h4 {
  margin: 1em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

p {
  margin-top: 0.5em;
  margin-bottom: 1em; }

h2 {
  font-size: 1.521em; }

h3 {
  font-size: 1.322em; }

h4 {
  font-size: 1.15em; }

small, .font_small {
  font-size: 0.833em; }

#smallscreenwarning {
  display: none; }
  @media screen and (max-width: 40em) {
    #smallscreenwarning {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 9998;
      width: 100%;
      display: block;
      background-color: #b22222;
      color: #fff;
      text-align: center; } }

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #333; }
  #navbar a {
    float: left;
    display: block;
    color: #eee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  #navbar a:hover {
    color: #4682b4; }
  #navbar .dropdown {
    position: relative;
    display: inline-block;
    float: right; }
    #navbar .dropdown p.dropdown-button {
      display: block;
      color: #eee;
      text-align: center;
      margin: 0;
      padding: 14px 16px;
      text-decoration: none;
      cursor: pointer; }
    #navbar .dropdown p.dropdown-button:hover {
      color: #4682b4; }
    #navbar .dropdown .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      width: 30em;
      max-width: calc(100vw - 1em);
      right: 0;
      z-index: 1; }
      #navbar .dropdown .dropdown-content a {
        display: block;
        padding: 0.2ex;
        margin: 0.2ex;
        color: #222;
        border: 0.5px solid #aaa; }
      #navbar .dropdown .dropdown-content a:hover {
        color: #4682b4; }
  #navbar .dropdown:hover .dropdown-content {
    display: block; }

#navbarplaceholder {
  width: 100%;
  color: transparent;
  display: block;
  float: top; }
  #navbarplaceholder a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px; }
  #navbarplaceholder p.dropdown-button {
    float: right;
    display: block;
    text-align: center;
    margin: 0;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer; }

#mainbody {
  margin: 0;
  clear: left; }

#content {
  padding-top: 1em;
  padding-left: 8em;
  padding-right: 2em;
  max-width: 50em; }
  @media screen and (min-width: 40em) and (max-width: 50em) {
    #content {
      padding-left: 1em;
      padding-right: 1em; } }
  @media screen and (max-width: 40em) {
    #content {
      padding-left: 1em;
      padding-right: 1em; } }
  #content p {
    text-align: justify; }
  #content a {
    color: #222;
    text-decoration: underline;
    text-decoration-color: #aaa; }
  #content a:hover {
    color: #4682b4; }
  #content .tags {
    overflow: hidden; }
    #content .tags a {
      text-decoration: none;
      color: #aaa;
      padding: 0; }
    #content .tags a:hover {
      color: #4682b4; }
  #content #pagenav .pagenav-label {
    color: #aaa; }
  #content figure {
    padding: 0;
    margin: 0; }
    #content figure figcaption h4 {
      padding: 0;
      margin: 0em 0em 2em 0em;
      font-size: 1em;
      font-style: italic;
      font-weight: 300; }
  #content img {
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin: 0; }
    @media screen and (min-width: 50em) {
      #content img {
        width: 40em; } }
  #content .codeheader {
    background-color: #333;
    color: #eee;
    width: 100%;
    border-radius: 0.4em 0.4em 0 0;
    font-size: 0.833em; }
    #content .codeheader p {
      text-align: center;
      padding: 3px 8px;
      margin: 0; }
      #content .codeheader p a, #content .codeheader p a:hover {
        background-color: #333;
        color: #eee; }
  #content pre {
    margin: 0;
    padding: 3px 8px;
    font-family: 'Roboto Mono', monospace;
    overflow: auto; }
  #content ul.mainlist {
    list-style-type: none;
    padding-left: 0;
    text-align: left; }
    #content ul.mainlist p.additionalinfo {
      padding-top: 0;
      margin-top: 0;
      font-size: 0.833em; }

#sidebar {
  /* position: fixed; */
  /* display: block; */
  /* right: 0; */
  /* top: 5rem; */
  /* z-index: 9998; */
  float: right;
  width: 12em;
  height: 100%;
  padding: 1em; }
  #sidebar a {
    font-size: 80%;
    color: #aaa;
    padding: 1px;
    margin: 1px;
    text-decoration: none; }
  #sidebar a:hover {
    color: #4682b4; }
  #sidebar img#tamaskpapp {
    float: left;
    width: 10em;
    margin: 1em; }

.date {
  color: #aaa; }

/*# sourceMappingURL=style.css.map */
