/* colors: mostly gray, except link hover */
$lightbg: #fff;
$lightfg: #222;
$lighthover: #5a59a5;
$fadefg: #aaa;
$fadehover: #5a59a5;
$darkbg: #333;
$darkfg: #eee;
$darkhover: #8785f7;

html {
    font-size: 1em;
}

body {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: $lightbg;
    font-family: 'Raleway', serif;
    font-weight: 400;
    line-height: 1.40;
    color: #333;
}

h1, h2, h3, h4 {
    margin: 1em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

p {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

h2 {font-size: 1.521em;}

h3 {font-size: 1.322em;}

h4 {font-size: 1.15em;}

small, .font_small {font-size: 0.833em;}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: $darkbg;
    a {
        float: left;
        display: block;
        color: $darkfg;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    a:hover {
        color: $darkhover;
    }
}

#navbarplaceholder {
    width: 100%;
    color: transparent;
    display: block;
    float: top;
    a {
        float: left;
        display: block;
        text-align: center;
        padding: 14px 16px;
    }
}

#mainbody {
    margin: 0;
    clear: left;
}

#content {
    padding-top: 1em;
    padding-left: 8em;
    padding-right: 2em;
    max-width: 50em;
    p {
        text-align: justify;
    }
    a {
        color: $lightfg;
        text-decoration: underline;
        text-decoration-color: $fadefg;
    }
    a:hover {
        color: $lighthover;
    }
    pre {
        margin: 0.5em;
        font-family: 'Roboto Mono', monospace;
    }
    .tags {
        overflow: hidden;
        a {
            text-decoration: none;
            color: $fadefg;
            padding: 0;
        }
        a:hover {
            color: $fadehover;
        }
    }
    #pagenav {
        .pagenav-label {
            color: $fadefg;
        }
    }
    figure {
        padding: 0;
        margin: 0;
        img {
            width: 100%;
            padding: 0;
            margin: 0;
        }
        figcaption {
            h4 {
                padding: 0;
                margin: 0em 0em 2em 0em;
                font-size: 1em;
                font-style: italic;
                font-weight: 300;
            }
        }
    }
    .getcode {
        background-color: $darkbg;
        color: $darkfg;
        width: 100%;
        font-size: 0.833em;
        p { text-align: center; }
        a, a:hover {
            background-color: $darkbg;
            color: $darkfg;
        }
    }
}

#sidebar {
    /* position: fixed; */
    /* display: block; */
    /* right: 0; */
    /* top: 5rem; */
    /* z-index: 9998; */
    float: right;
    width: 12em;
    height: 100%;
    padding: 1em;
    a {
        font-size: 80%;
        color: $fadefg;
        padding: 1px;
        margin: 1px;
        text-decoration: none;
    }
    a:hover {
        color: $fadehover;
    }
    img#tamaskpapp {
        float: left;
        width: 10em;
        margin: 1em;
    }
}

.date {
    font-style: italic;
}
